.logo {
  margin-right: 93px;

  text-decoration: none;
  color: map-get($colors, "accent");

  font-family: "Raleway";
  font-weight: map-get($fontWeight, "bold");
  font-size: 26px;
  line-height: 1.19;
  span {
    color: map-get($colors, "primary");
  }
}
